body {
    background-color: #92a8d1;
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    background-color: #d5e1df;
    width: 320px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
.card img {
    width: 220px;
    border-radius: 15px;
    margin-bottom: 15px;
}
a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
a:hover {
    background-color: darkblue;
}